* {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

main {
  background-color: #610082;
  display: flex;
  justify-content: space-around;
  width: 100vh;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  font-family: sans-serif;
  flex-wrap: wrap;
}

main .info {
  color: #3b034e;
}

main .info h1 {
  font-size: 65px;
  max-width: 100%;
}
main .info h1 span{
  color: #fff;
  padding-left: 60px;
}

main .info h4 {
  color: #00C6C9;
  font-size: 12px;
  padding-left: 70px;
}

.prototipo {
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  main {
    padding: 40px 0px;
    flex-direction: column;
  }
  main .info {
    margin-bottom: 50px;
  }
  main .prototipo {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 490px) {
  main .info h4 {
    padding: 0;
    text-align: center;
  }
  iframe {
    width: 320px;
    height: 700px;
  } 

  main .info h1 span{
    color: #fff;
    padding-left: 0px;
  }

  main .info h1 {
    font-size: 45px;
    text-align: center;
  }
}
